version: "3.9"
services:
  cv-generator:
    build: .
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./src/templates:/app/src/templates
      - ./src/public:/app/src/public
